In [ ]:
#1 Add numbers in the list
a = [1,2,3,4]
sum = 0
for i in range(len(a)):
    sum += a[i]
print(sum)

In [ ]:
#2 Largest number from the list
list = [12,3,44,22,12]
list.sort()
print(list[-1])

44

In [ ]:
#3 Count of strings 
lists = ['abba','deed','sees','feef','dsfef','efew','vfefew','1221','3232','4334','1']
count = 0
for list in lists:
    if len(list) > 2 and list[0] == list[-1] :
        count = count+1
print(count)

6

In [ ]:
#4 remove duplicates
lists = [1,1,2,22,3,11,2,22,44,44,33,22,1]
newl = []
for list in lists : 
    if list not in newl:
        newl.append(list)
print(newl)

[1, 2, 22, 3, 11, 44, 33]

In [ ]:
#5 check if list is empty
list = [3,2,4,3]
if(len(list) !=0):
    print("Not empty")
else:
    print("List empty")

Not empty

In [ ]:
#6 filter for 3 chars

list = ['qewerw','efrew','wewf','dfwef','dee','fff','bbb']
newl = []
for i in list :
    if len(i) <= 4:
       newl.append(i)
print(newl)

['dee', 'fff', 'bbb']

In [ ]:
#7 second largest num in list
list = [3,433,2,4,1,33,222]
list.sort()
print(list[-2])

222

In [ ]:
#8 reverse list at a specified position
lst = [44,33,44,22,334,212,234,43,33]
start = 3
end = 5
while start < end:
        lst[start], lst[end] = lst[end], lst[start]
        start += 1
        end -= 1
print(lst)

[44, 33, 44, 212, 334, 22, 234, 43, 33]

In [ ]:
#9 Palindrome
lists = ['33','43','33']
newl = lists[::-1]
if(newl == lists):
    print("True")
else :
    print("False")

True

In [ ]:
#10 Union
list1 = [12,33,43,22,23]
list2 = [43,33,22,55,22]

print(set(list1) | set(list2))

{33, 43, 12, 55, 22, 23}

In [ ]:
#10 Intersection
list1 = [12,33,43,22,23]
list2 = [43,33,22,55,22]
print(set(list1) & set(list2))

{33, 43, 22}

In [ ]:
#11 sort by value
d = {'a':1, 'd':3,'s':2,'g':4}
res = {}
values = sorted(d.values())
for i in values :
    for k,v in d.items():
        if v == i:
            res[k] = v
print("Ascending: ",res)
print("Descending: ",dict(reversed(list(res.items))))

SyntaxError: invalid syntax (1204434387.py, line 2)

In [ ]:
#12 
dic = {'a':33,'b':32,'f':322}
key = 'f'
if key in dic.keys():
        print("Present, ", end =" ")
        print("value =", dic[key])
else:
        print("Not present")

Present,  value = 322

In [ ]:
#13
dic = {'a':33,'b':32,'f':322}
values = list(dic.values())
print(sum(values))

387

In [58]:
#14 
n=int(input("Input a number less than 10 "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

In [ ]:
#15 sort dictionary by key
dict = {'a':1, 'd':3,'s':2,'g':4}
keys = list(dict.keys())
keys.sort()
sorted_d = {i : dict[i] for i in keys}

print(sorted_d)

{'a': 1, 'd': 3, 'g': 4, 's': 2}

In [ ]:
#16 
s = "Hello Welcome"
dic = {}
for i in s :
    dic[i] = dic.get(i,0)+1
print(dic)

In [ ]:
#17 

from heapq import nlargest
from operator import itemgetter
items = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
for name, value in nlargest(3, items.items(), key=itemgetter(1)):
    print(name, value)